.navigationBar{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

*{
 border:1px solid red;
}
.sub-menu{
  display: flex;
  padding: 0.25em 2em;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.MyPortfolio{
  display: flex;
  font-size: 4em;
}

ul.navItems{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:6.5em;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.section-container{
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  text-align: center;
  width: 500px;
  height: 400px;
  border-radius: 28px;
}

section{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  margin:0px;
  padding: 0px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.buttonfooter{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 20px;
  padding: 10px;
}

.downloadButton{
  padding: 14px 28px;
  border-radius: 8px;
  border: 2px solid black;
  border-radius: 28px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.contactInfoButton{
  padding: 14px 20px;
  border-radius: 28px;
  border: 2px solid black;;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.greet{
  font-size: 6em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.name{
  margin-left: 0.9em;
  text-align: left;
}
.title{
  margin-left: 1.8em;
  text-align: left;
}
i{
  margin-right: 10px;
  font-size: 2.5em;
}
.linkedIn:hover{
  color: #0A66C2;
}

h2{
  margin:0px
}
.mainCard{
  width: 600px;
  height: 280px;
  padding: 1em;
}

.aboutSection{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1350px;
}

.sectionHeader{
  margin-top: 0.2em;
  text-align: center;
}

.mainCard{
  margin: 4em 1em;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 24px;
}

#knowMe{
  display: block;
  font-size: 1em;
  font-weight: 100;
  margin-top:0.2em;
  padding: 10px;
}
#subAbout{
  display: block;
  font-size: 2.5em;
  font-weight: 700;
  margin-top:0.2em;
  padding: 10px;
  margin: 10px;
}