<spline-viewer url="https://prod.spline.design/Gb-UtfkGJWGdhptu/scene.splinecode"></spline-viewer>
<div class="navigationBar">
  <div>
    <div class="name">My Porfolio</div>
  </div>
  <div class="sub-menu">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>

<section class="section-container">
  <div class="heroSection">
    <div class="greet">Hello<span>, I'm</span></div>
    <h1 class="name">Bino Hlongwana</h1>
    <p>FullStackDeveloper</p>
    <p>BSc Information Technology Student</p>
    <div>
      <button class="downloadButton">Download CV</button>
      <button class="contactInfoButton">Contact Info</button>
    </div>
    <div class="icons">
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
  </div>
</section>

<div class="content"></div>
