<section class="section" aria-labelledby="contact-title">
  <div class="container">
    <app-display-heading pre="Get in touch" title="Contact Me" titleId="contact-title"></app-display-heading>

    <div class="contact-container">
      <div class="contact-item">
        <i class="fa-solid fa-envelope contact-icon" aria-hidden="true"></i>
        <a href="mailto:HlongwanaBino@gmail.com" class="contact-link">
          HlongwanaBino&#64;gmail.com
        </a>
      </div>
      <div class="contact-item">
        <i class="fa-brands fa-linkedin contact-icon" aria-hidden="true"></i>
        <a href="https://www.linkedin.com/in/bino-hlongwana-162226272/" class="contact-link" target="_blank"
          rel="noopener noreferrer">
          RobotBino
        </a>
      </div>
    </div>
  </div>
</section>
