<section class="section" aria-labelledby="about-title">
  <div class="container">
    <app-display-heading pre="Get to know more" title="About Me" titleId="about-title"></app-display-heading>

    <div class="about-cards">
      <article class="card fade-in">
        <i class="fa-solid fa-lightbulb card-icon qualification" aria-hidden="true" #cardIcon></i>
        <h3 class="card-title">Qualifications</h3>
        <div class="card-content">
          <div class="card-item">
            <span class="card-item-title">3+ Years</span>
            <span class="card-item-text">Information Technology Student</span>
          </div>
          <div class="card-item">
            <span class="card-item-title">3+ Years</span>
            <span class="card-item-text">Software Development</span>
          </div>
        </div>
      </article>

      <article class="card fade-in">
        <i class="fa-solid fa-code card-icon education" aria-hidden="true" #cardIcon></i>
        <h3 class="card-title">Education</h3>
        <div class="card-content">
          <p class="card-item-text">
            BSc in Information Technology from the North-West University (NWU)
          </p>
        </div>
      </article>
    </div>

    <p class="about-text">
      I am a 24-year-old software developer based in Pretoria, South Africa, committed to the
      <em class="about-emphasis">less but better</em> philosophy, where simplicity drives impact and precision
      fuels design.
      Passionate about creating intuitive, well-crafted web experiences, I build software that is
      not only functional but robust, designed to perform under real-world demands. I believe that through good communication,
      I bridge complexity with clarity, ensuring seamless execution from concept to
      code. I seek challenges that push boundaries, refine my craft, and drive innovation in every
      project I undertake.
    </p>
  </div>
</section>
